<div class="prose">
  <h1>価値交換プラットフォームへようこそ</h1>

  <h2>このサイトはお互いの価値と価値を交換できる場です</h2>
<h3>例えば、ジュースとお菓子を交換するとか、作った小物と描いた絵を交換するとかなどです。</h3>
<h3>交換するものはモノでなくても構いません。例えば、何かお手伝いをするとか、何かを教えるとか、提供できるものがあれば色々提案してみてください。</h3>
<h3>貸し出しもOKです。例えばドライヤー１週間貸出とティッシュ１箱の交換などの取引もOKです。</h3>
<h3>ただし、交換したもののクオリティに関する問題や、貸した物を返してくれない、または破損したなどの＊トラブルの責任は一切取りません＊全て自己責任でお願いいたします。</h3>
 
<h3>お互いの信頼とモラルが前提にあります。さらに楽しく快適な島ライフを送りましょう！</h3>
<% if user_signed_in? %>
    <p><%= current_user.email %> でログイン中です。</p>
  <% else %>
    <p>ログインしていません。</p>
  <% end %>

  <%= link_to "アイテム一覧を見る", items_path, class: "text-blue-600 underline" %><br>
  <%= link_to "アイテムを出品する", new_item_path, class: "text-blue-600 underline" %><br>
</div>
