<div class="prose">
  <h3>

<h1> **価値交換プラットフォーム**</h1>
<h3>  - **目的**  <br>
    - 価値⇆価値 を交換<br><br>
  - **交換対象**  <br>
    - 物品（お菓子）  <br>
    - 自作品（小物）  <br>
    - サービス（お手伝い）  <br>
    - 貸し出し（ドライヤー貸出）<br><br>
  - **手順**  <br>
    1. 出品  <br>
    2. 提案  <br>
    3. 交渉  <br>
    4. 受け渡し  <br>
    5. 完了後 自分で削除<br><br>
  - **注意事項**  <br>
    - 品質トラブル  <br>
    - 返却・破損  <br>
    - 全て自己責任<br><br>
  - **前提**  <br>
    - 信頼・モラル  <br>
    - 楽しく快適な島ライフ！<br>
</h3>
<% if user_signed_in? %>
    <p><%= current_user.email %> でログイン中です。</p>
  <% else %>
    <p>ログインしていません。</p>
  <% end %>

  <%= link_to "アイテム一覧を見る", items_path, class: "text-blue-600 underline" %><br>
  <%= link_to "アイテムを出品する", new_item_path, class: "text-blue-600 underline" %><br>
</div>
