<h1>募集一覧</h1>
<%= link_to "新しく募集を作る", new_request_path, class: "btn" %>

<% @requests.each do |r| %>
  <div class="border p-4 my-2">
    <h2><%= r.title %></h2>
    <p><%= r.description %></p>
    <p class="text-sm text-gray-600">by <%= r.user.email %></p>
  </div>
<% end %>
